html{
	height: 100%;
	margin: 0;
}
body {
	position: absolute;
	height: calc(100% - 300px);
	top: 0px;
	margin: 0;
	width: 100%;
}
.leaflet-container {
	height: 400px;
	width: 600px;
	max-width: 100%;
	max-height: 100%;
}
#map {
	width: 100%;
	height: 100%;
}
#header{
	height: 50px;
	font-weight: bold;
	font-size: 20pt;
	font-family: verdana, sans-serif;
	margin:10px;
}
#description{
	margin:20px;
	font-size: 12pt;
	fong-family: verdana, sans-serif;
}